@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

html body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
}

a{
    text-decoration-line: none;
    color: inherit;
}

#nav {
    position: fixed;
    height: 100vh;
    width: 15%;
    display: flex;
}

#nav img{
    height: 25px;
    width: 25px;
    padding: 5px;
    padding-right: 20px;
}

.side_menu{
    height: 100%;
    width: 100%;
}

.menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: 60px;
    border-right: 1px solid rgb(197, 197, 197);
    background-color: white;
    padding: 20px;
    overflow-y: hidden;
    transition: 0.4s ease;
}

.menu.small{
    width: 35px;
    transition: 0.4s ease;
    overflow-y: hidden;
}

.logo :hover{
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    transition: 0.4s;
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    color: inherit;
}

.logo{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    background-color: none;
    margin-top: 20px;
}

.logo h2{
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo h1{
    font-family: 'Norican';
    transition: 0.3s ease;
    margin-bottom: 40px;
}

#logo{
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    background-color: none;
    margin-top: 20px;
    font-family: 'Norican';
    transition: 0.3s ease;
    margin-bottom: 40px;
}

.search_tab{
    position: fixed;
    height: 100%;
    width: 0;
    border-radius: 30px;
    background-color: white;
    box-shadow: 4px 0 24px rgb(197, 197, 197);
    z-index: -1;
    transition: 0.4s ease;
}

.search_tab.small{
    width: 400px;
    transition: 0.4s ease;
}


#contents{
    height: 100%;
    width: 100%;
    margin-left: 255px;
    padding: 30px;
}

#contents img{
    height: 20px;
    width: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 910px;
    height: 200px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.profile_pic{
    display: flex;
    height: 160px;
    width: 160px;
    margin-right: 100px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 80px;
    background-image: url(https://ifh.cc/g/PlDv8Q.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.name a:hover{
    font-weight: bold;
}

.basic_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    font-size: 15px;
}

.nickname{
    display: flex;
    align-items: center;
}

.nickname h1{
    font-size: 20px;
    margin-right: 30px;
}

.profile_edit{
    display: flex;
    background-color: rgb(243, 243, 243);
    border-radius: 8px;
    padding: 0 10px 0 10px;
    height: 30px;
    align-items: center;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
}

.profile_edit:hover{
    background-color: rgb(180, 180, 180);
}

.setting{
    display: flex;
}

.number li{
    float: left;
    margin-right: 40px;
}

.feed{
    width: 910px;
    height: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    grid-gap: 5px;
    margin-bottom: 40px;
}

.photo_1{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.photo_1:hover{
    filter: brightness(70%);
}

.zoom{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 90, 90, 0.5);
}

.zoom_contents{
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    height: 600px;
    width: 800px;
    background-color: white;
    transform: translate(-50%, -50%);
}

.zoom_pic{
    height: 100%;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic_exp{
    height: 100%;
    width: 300px;
}

.pic_name{
    border-bottom: 1px solid rgb(197, 197, 197);
}

.index{
    position: fixed;
    display: flex;
    padding: 20px;
    font-size: 30px;
    bottom: 0;
    right: 0;
    font-family: 'NanumSquareNeoBold';
}