@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Apple SD Gothic Neo'; 
    src: url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot"); 
    src: url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.woff") format("woff"), url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/67680f2eb947c5cbd58b40961b4a61e9.svg#Apple SD Gothic Neo") format("svg");
    font-weight: normal;
    font-style: normal;
}

html body{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
    height: 100%;
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 180px;
    z-index: 20;
    overflow: hidden;
    background: linear-gradient(rgba(255,255,255,0.5) 50px,rgba(255,255,255,0.5) 50px,rgba(255,255,255,0.5));
    transition: 0.3s ease-out;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.title{
    width: 100%;
    height: 100%;
    font-size: 120px;
    padding: 10px;
    letter-spacing: 10px;
    font-family: 'NanumSquareNeoBold';
}

.title h1{
    transition: 0.2s ease-out;
}

.menu_list{
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: column;
    font-size: 40px;
    line-height: 55px;
    font-family: 'NanumSquareNeo';
    margin-top: 20px;
}

#content{
    height: 100%;
    width: 100%;
    margin-top: 180px;
    overflow: hidden;
}

#content a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery{
    height: 700px;
    max-width: 100%;
    display: flex;
    position: relative;
}

.gallery li{
    position: absolute;
}

.gallery.move{
    left: calc(-100%/3);
}

.picture{
    height: 100%;
    width: calc(100%/3);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'GmarketSansBold';
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0);
    transition: 0.2s;
    box-sizing: border-box;
    padding: 10px
}

.picture:hover{
    color: white;
}

.picture p{
    font-size: 60px;
}

#footer{
    width: 100%;
    display: flex;
    font-family: 'NanumSquareNeoLight';
    font-size: 14px;
    line-height: 1.3;
    background-color: lightgray;
    text-size-adjust: 100%;
}

.info{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 15px;
}

.basic_info{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.basic_service{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 50px;
}

#footer span{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
}

.up_sign{
    height: 40px;
    width: 40px;
    border: solid 1px rgb(164, 164, 164);
    cursor: pointer;
}

.prev, .next{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 60%;
    cursor: pointer;
}

.prev{
    left: 2%;
}

.next{
    right: 2%;
}